.toolbar-filler {
  flex: 1 1 auto;
}

.nav-button {
  margin: 7px;
}

.toolbar-title {
  text-decoration: none;
  color: white;
  margin-bottom: 3px;
  margin-right: 23px;
}

.toolbar-icon {
  color: white;
  margin-bottom: 6px;
}

.toolbar-menu {
  display: none;
}

@media screen and (max-width: 480px){
  .nav-button {
    display:none;
  }
  .toolbar-menu {
    display:unset;
  }

}
